<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIF-IT</title>
</head>
<body>
    <nav>
        <a href="#" class="nav-link" data-page="home">HOME</a>
        <a href="#" class="nav-link" data-page="trending">TRENDING</a>
        <input id="search" type="text" placeholder="GIF-IT a search">
        <!-- <a href="#" class="nav-link" data-page="home"></a>
        <a href="#" class="nav-link" data-page="home"></a> -->
    </nav>

    <div id="container"></div>
    <script src="./src/main.js" type="module"></script>
</body>
</html>